.root {
  @apply grid gap-0 grid-cols-1;

  @screen lg {
    @apply grid-cols-3 grid-rows-2;
  }

  & > * {
    @apply row-span-1 overflow-hidden;
    max-height: 800px;

    @screen lg {
      height: inherit;
    }
  }
}

.layoutA {
  /* 1,7,13 */
  /*  5, 11, 17*/
  /* apply grid layout based on position */
  & > *:nth-child(6n + 1),
  & > *:nth-child(6n + 5) {
    @screen lg {
      @apply col-span-2 row-span-2;
    }
  }

  /* apply colour based on postion */
  & > *:nth-child(6n + 1) {
    @apply bg-violet;
  }
  & > *:nth-child(6n + 2) {
    background-color: #212529;
  }

  & > *:nth-child(6n + 3) {
    @apply bg-pink;
  }

  & > *:nth-child(6n + 5) {
    @apply bg-blue;
  }

  & > *:nth-child(6n + 6) {
    @apply bg-cyan;
  }
}

.layoutB {
  color: blue;
}
